{% extends "header_footer.html" %}
{% block body %}
<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Mad Guy looks after your Cookies 🍪</h2>
            </div>

            <div class="row content">
                    <p>
                        We use cookies to make sure you have the best experience on our website. We also use them to make sure our website is running smoothly. We promise we won't eat your cookies.
                    </p>
            </div>
        </div>
    </section><!-- End About Us Section -->
</main><!-- End #main -->
{% endblock body %}