{% extends "header_footer.html" %}
{% block body %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <a href="https://www.youtube.com/embed/y2TuytHrGEE" class="glightbox btn-watch-video">
        <video autoplay="" muted="" loop="" id="myVideo" playsinline="">
            <source src="{{ url_for('static', filename='vid/video_intro.mp4') }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </a>
    <div class="overlay">
        <div class="row overlay">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up" data-aos-delay="200">
                <h1>Hi<br>I'm <span class="mad">Paul,</span><br>A Senior Software Developer</h1>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a target="_blank" href="https://www.youtube.com/@paullovespython"
                       class="btn-get-started scrollto">My YouTube <i
                            class="bi bi-youtube" style="width:25px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2 class="text-center lh-lg">About me</h2>
            </div>

            <div class="row content">
                <div class="row">
                    <div class="col-sm">
                        <img class="avatar" src="{{ url_for('static', filename='img/paul_ged_profile_pic.png') }}"
                             alt="Profile Picture">
                    </div>
                    <div class="col-sm">
                        <h3 class="text-left fs-4">A software engineer with over 11 years experience in finance and
                            e-commerce industries</h3>
                        <p class="text-left fs-6"><b>Computer Science, Hertfordshire University, UK</b><br><br>
                            I'm a graduate of Computer Science of Hertfordshire Class of 2012. My passions are Software
                            Development, Fintech, Artificial Intelligence, Automation and Natural Language as well as
                            Image processing.
                        <ol>
                            <li class="lh-lg">University of Hertfordshire (Herts) Bachelor of Science in Computer
                                Science<br></li>
                            <li class="lh-lg">Founder of Exponential Investment Fund, A investment fund implementing a
                                diversified futures trading/investment strategies<br></li>
                            <li class="lh-lg">Senior Software Developer at PFU (RICOH Subsidiary). Leading a Technical
                                Sales and Software Development Team, managing Sales Engineers, Solutions Architects and
                                Software Engineers distributed across EMEA.<br></li>
                            <li class="lh-lg">My Resume<br>
                                <a href="{{ url_for('download_resume') }}"><img class="resume_pdf zoom"
                                                                                src="{{ url_for('static', filename='img/download_resume.png') }}"
                                                                                alt="Profile Picture"></a></li>
                        </ol>
                        </p>
                    </div>
<!--                    <h3 class="text-center fs-4">Learn More</h3>-->
<!--                    <hr>-->

<!--                </div>-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col text-center m-4 zoom">-->
<!--                            <div class="icon-box">-->
<!--                                <div class="icon"><img-->
<!--                                        style="width:80px; padding-bottom:20px"-->
<!--                                        src="{{ url_for('static', filename='img/wrench-flat.png') }}"-->
<!--                                        alt="Skills"></div>-->
<!--                                <h4>Skills</h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col  text-center m-4 zoom">-->
<!--                            <div class="icon-box"><img-->
<!--                                    style="width:80px; padding-bottom:20px"-->
<!--                                    src="{{ url_for('static', filename='img/projects.png') }}"-->
<!--                                    alt="Projects"></div>-->
<!--                            <h4>Projects</h4>-->
<!--                        </div>-->
<!--                        <div class="col  text-center m-4 zoom">-->
<!--                            <div class="icon-box"><img-->
<!--                                    style="width:80px; padding-bottom:20px"-->
<!--                                    src="{{ url_for('static', filename='img/briefcase.png') }}"-->
<!--                                    alt="Skills"></div>-->
<!--                            <h4>Work Experience</h4>-->
<!--                        </div>-->
<!--                        <div class="w-100"></div>-->
<!--                        <div class="col  text-center m-4 zoom">-->
<!--                            <div class="icon-box"><img-->
<!--                                    style="width:80px; padding-bottom:20px"-->
<!--                                    src="{{ url_for('static', filename='img/resume.png') }}"-->
<!--                                    alt="Resume"></div>-->
<!--                            <h4>Resume</h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <hr>
                <h3 class="text-center lh-lg"><br><br>Recent Project<br>Google Feed Shopping Automator</h3>
                <ul>
                    <li class="lh-lg"><b><br><br>Brief</b> - Build a web based app which connects to an e-commerce
                        website API to
                        download individual product data and upload the data to Google Merchant Centre to have the
                        most
                        up-to-date Google shopping listings for this business
                    </li>
                    <li class="lh-lg"><b>Outcome </b> - <span class="mad">97.5% time reduction</span> (this was done
                        manually before).
                        Saved the company over <span class="mad">$357k annually</span> by not hiring an agency to
                        constantly update this process<br><br>
                    </li>
                </ul>

                <img src="{{ url_for('static', filename='img/google-feed-automator.gif') }}"
                     alt="Google Feed Automation" style="width: 100%;">

                <h2 class="lh-lg text-center"><br>Tools used</h2>
                <div class="container">
                    <div class="row">
                        <div class="col text-center m-4">
                            <div class="icon-box">
                                <div class="icon"><img
                                        src="{{ url_for('static', filename='img/CSS and HTML.svg') }}"
                                        alt="HTML 5 and CSS 3" style="width: 100px;"></div>
                                <h4>HTML 5 and CSS 3</h4>
                            </div>
                        </div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img src="{{ url_for('static', filename='img/python-logo.svg.png') }}"
                                                   alt="Python 3.9" style="width: 100px;"></div>
                            <h4>Python 3.9</h4>
                        </div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img src="{{ url_for('static', filename='img/flask-logo.png') }}"
                                                   alt="Flask 2.2.3" style="width: 100px;"></div>
                            <h4>Flask 2.2.3</h4>
                        </div>
                        <div class="w-100"></div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img src="{{ url_for('static', filename='img/restful api.png') }}"
                                                   alt="REST API" style="width: 100px;"></div>
                            <h4>REST API</h4>
                        </div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img src="{{ url_for('static', filename='img/JavaScript-logo.png') }}"
                                                   alt="JavaScript" style="width: 100px;"></div>
                            <h4>JavaScript</h4>
                        </div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img
                                    src="{{ url_for('static', filename='img/Google-Content-API.png') }}"
                                    alt="Google Shopping API" style="width: 100px;"></div>
                            <h4>Google Shopping API</h4>
                        </div>
                        <div class="w-100"></div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img
                                    src="{{ url_for('static', filename='img/digital_river.svg.png') }}"
                                    alt="Digital River API" style="height: 50px;"></div>
                            <h4>Digital River API</h4>
                        </div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img src="{{ url_for('static', filename='img/sql_alchemy.png') }}"
                                                   alt="SQL Alchemy" style="width: 100px;"></div>
                            <h4>SQL Alchemy 1.4</h4>
                        </div>
                        <div class="col  text-center m-4">
                            <div class="icon"><img
                                    src="{{ url_for('static', filename='img/Bootstrap_logo.svg.png') }}"
                                    alt="Boostrap" style="width: 100px;"></div>
                            <h4>Bootstrap 5.1</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">

        <div class="section-title">
            <h2>Find Me On</h2>
            <div class="container">
                <div class="row ">
                    <div class="col align-self-start m-4">
                        <a href="https://github.com/geddie212"><i class="bi bi-github" style="font-size: 50px;"></i><h4>
                            Github</h4></a>
                    </div>
                    <div class="col align-self-center m-4">
                        <a href="https://www.linkedin.com/in/paul-ged/"><i class="bi bi-linkedin"
                                                                           style="font-size: 50px;"></i><h4>
                            LinkedIn</h4></a>
                    </div>
                    <div class="col align-self-end m-4">
                        <a href="https://www.youtube.com/@paullovespython"><i class="bi bi-youtube"
                                                                              style="font-size: 50px;"></i><h4>
                            YouTube</h4></a>
                    </div>
                </div>
            </div>
            <div class="icon-box">
                <a href="https://www.youtube.com/@paullovespython"></a>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8ZTD38CgNV4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg-lt">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Skills</h2>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i><img class="img-icon" alt="python" src="{{ url_for('static', filename='icons/python-150.svg') }}"></i></div>
                        <h4>Python</h4>
                        <p>I have over 11 years extensive experience with Python for classwork, professional and personal projects</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i><img class="img-icon" alt="C++" src="{{ url_for('static', filename='icons/cpp.svg') }}"></i></div>
                        <h4>C++ and C#</h4>
                        <p>I have 5 years experience developing in C++ and C#, mainly for the development and implementation of financial investment strategies</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-database"></i></div>
                        <h4>Databases</h4>
                        <p>Mainly using: MySQL, PostgreSQL, SQLite and MongoDB</p>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-cloud-arrow-down"></i></div>
                        <h4>Cloud Computing Platforms</h4>
                        <p>Mainly AWS and Heroku (for deployment)</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-wifi"></i></div>
                        <h4>Web APIs and RESTful Services</h4>
                        <p>Extensive knowledge and experience with Web APIs and RESTful Services</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-bar-chart-steps"></i></div>
                        <h4>Data Analysis and Manipulation Libraries</h4>
                        <p>Depending on the project, my go-to libraries are Pandas and NumPy, but I have built custom Data Analysis and formatting libraries.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-wrench-adjustable"></i></div>
                        <h4>Task Automation</h4>
                        <p>Depending on the job, but for web automation I use Selenium or APIs</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-robot"></i></div>
                        <h4>AI and Machine Learning</h4>
                        <p>Using and Designing custom AI systems, such as probabilistic models and neural networks. Experienced in Machine learning applications such as prediction, llm transformers. Experienced in libraries such as TensorFlow and Keras</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
            <div class="section-title">
                <h3>Project<br>Automated Product Listing Creation (from Oracle DB)</h3>
            </div>
            <ul style="color: white;">
                <li><b>Brief</b> - Creates a system that automates the process of creating new listings by extracting
                    the product data from Oracle SQL into CrownPeak.
                </li>
                <li><b>Challenges </b> - CrownPeak API wasn't developed to the point of being useable and was unable to
                    get API access.
                </li>
                <li><b>Solution </b> - Used Selenium WebDriver to automate the listing addition. Version 2.0 used
                    CrownPeak API to push product data.
                </li>
                <li><b>Outcome </b> - Saved over <span class="mad">3 months manual work</span> for Ecommerce Department.
                    Streamlined the process so any future products listings can be created automatically<br><br>
                </li>
            </ul>
            <div class="embed-responsive embed-responsive-21by9" style="text-align:center">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x5Its8g8cmw"
                        allowfullscreen></iframe>
            </div>
            <h2 style="text-align: center; color: white;"><br><br>Tools used</h2>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col text-center  m-4">
                        <div class="icon-box">
                            <div class="icon"><img src="{{ url_for('static', filename='img/oracle-sql.png') }}"
                                                   alt="Oracle SQL Developer" style="width: 100px;"></div>
                            <h4 style="color: white;">Oracle SQL Developer</h4>
                        </div>
                    </div>
                    <div class="col  text-center m-4">
                        <div class="icon"><img src="{{ url_for('static', filename='img/python-logo.svg.png') }}"
                                               alt="Python 3.9" style="width: 100px;"></div>
                        <h4 style="color: white;">Python 3.9</h4>
                    </div>
                    <div class="col  text-center m-4">
                        <div class="icon"><img src="{{ url_for('static', filename='img/crownpeak.png') }}"
                                               alt="CrownPeak" style="width: 100px;"></div>
                        <h4 style="color: white;">CrownPeak API (for version 2.0)</h4>
                    </div>
                    <div class="w-100"></div>
                    <div class="col  text-center m-4">
                        <div class="icon"><img src="{{ url_for('static', filename='img/Selenium_Logo.png') }}"
                                               alt="Selenium Logo" style="width: 100px;"></div>
                        <h4 style="color: white;">Selenium WebDriver</h4>
                    </div>
                    <div class="col  text-center m-4">
                        <div class="icon"><img src="{{ url_for('static', filename='img/digital_river.svg.png') }}"
                                               alt="Digital River API" style="height: 50px;"></div>
                        <h4 style="color: white;">Digital River API</h4>
                    </div>
                    <div class="col  text-center m-4">
                        <div class="icon"><img src="{{ url_for('static', filename='img/sql_alchemy.png') }}"
                                               alt="SQL Alchemy" style="width: 100px;"></div>
                        <h4 style="color: white;">SQL Alchemy 1.4</h4>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>


            <div class="info">
                <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p><a href="https://turbotask.co/#map">1540 Howard Street, SF, 94103</a></p>
                </div>
                <div id="map">
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p><a href="mailto:pauliusgedrimas@gmail.com">pauliusgedrimas@gmail.com</a></p>
                    </div>
                </div>
                <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p><a href="tel:+14152121444">+1 415 212 1444</a></p>
                </div>


                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.097702580236!2d-122.40868922556575!3d37.78775001141476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858088d97c331d%3A0x7f6fd6561a47dcdf!2s166%20Geary%20St%2C%20San%20Francisco%2C%20CA%2094108!5e0!3m2!1sen!2sus!4v1686597300241!5m2!1sen!2sus"
                        frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>


            </div>
        </div>

    </section><!-- End Contact Section -->
</main><!-- End #main -->
{% endblock body %}